@import "reset.css";


html {direction:rtl;text-align:right;}
body {
	font-size: 14px;
	font-family:arial;
	background:#b3141a;overflow-x:hidden;
}
small{font-size:11px;}

#wrapper{width:960px; margin:10px auto;}
#header {background:url("../images/header.png") no-repeat scroll 0 0 transparent;height:143px;padding:96px 357px 0 0;}
#header h1 {font-size:25px}
#header div.slogen {margin-top:20px; font-size:20px}

#topnav {height:30px; background:#ffffff; line-height:30px;}

#topnav ul li {float:right; margin:0 10px;}
#topnav ul li.left {background:url("/images/cart-icon.png") no-repeat scroll right center transparent;float:left;padding-right:40px;}
#topnav ul li.left:hover{background:url("/images/cart-icon_h.png") no-repeat scroll right center transparent;}
#topnav ul li a {text-decoration:none; color:#b3141a; font-weight:bold;}
#topnav ul li a:hover{ color:#000000;} 
#topnav ul li.active a {color:#000000;} 
#topnav ul li.active a:hover {color:#b3141a;} 

#wrap {background:url(../images/Wood.jpg); padding:10px;}
#widecb {width:940px;  background:#ffffff;}

/*#widecb{direction:ltr;text-align:left;}*/

#formblock {float:right;padding:20px 20px 20px 0;width:450px;}
#formblock h2 {font-size: 20px; color: #B3141A; margin-bottom:20px}
#formblock ul li { margin-bottom:10px;}

#menuitemlist {float:right;padding:20px 20px 20px 0;}
#menuitemlist h3 {font-size: 20px; color: #B3141A; margin-bottom:20px}
.item_price {margin-top:20px;}
.choice {margin:0 0 0 30px;}

#menuitemlist td.desc {width:220px;}
#menuitemlist td.price {width:50px;}


#additemnav {float:right; width:250px;padding:10px 20px 20px 0;}
#additemnav ul li {margin:10px 0; border:1px solid #B3141A; text-align:center;padding:5px; background:#B3141A;}
#additemnav ul li:hover{background:#000000; }
#additemnav ul li.selected {background:#000000; }
#additemnav ul li.selected:hover {background:#B3141A; }
#additemnav ul li a {text-decoration:none; color:#FFFFFF; font-weight:bold;}

#formErrors {font-size:11px; color:#ff0000; text-align:center; margin-bottom:10px;}
#loginformblock {width:230px; margin:0px auto; padding-top:20px;}
#loginformblock table{margin-bottom:20px;}
#loginformblock table td {padding:5px 0;}

#content p {margin-bottom:5px;}
#content h3 {padding:10px 0;}


.item_info {float:right; margin-right:10px;}
.itemimage {float:right;}
.item_wrapper {width:600px;float:left;clear:both;margin-bottom:10px; padding:10px;}
.item_wrapper:hover{background:#c3c3c3;}

.addtoorder {cursor:pointer; margin:30px 10px 0 0; float:left;}


#prices table td {padding:10px 0}
#add_item_to_Cart ul li {margin:10px 0}
.description {font-weight:bold;}

.small {width:20px;}


#myCart td, #myCart th{padding:5px 10px; text-align:center; }
#chekoutbtn{ text-align:left;margin-top:50px;}
